HELP.md
target/
uploads/student-documents/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local secrets ###
config/local-secrets.properties
config/*.secret.properties
config/*.secrets.properties

### Production secrets and private keys ###
*.pem
*.ppk
*.key
*_openssh
id_rsa
id_ed25519
.env
.env.*
application-prod.properties
